
<div id="aboutMe" class="featurette">
    <h2 class="featurette-heading">By <a href="/index.html">Muhammad Usman Akram</a></h2>
    <img  class="avatar featurette-image pull-right" src="http://www.gravatar.com/avatar/e8618020c343b3f27948e8ddf0d993f1.png" height="128" width="128">
    <div itemscope itemtype="http://data-vocabulary.org/Person" class="left">
        <p class="lead">My name is <span itemprop="name">Muhammad Usman Akram</span>.<br>
        I am <span itemprop="role">graduate</span> <span itemprop="title">Student</span> at <span itemprop="affiliation"><a href="http://unitn.it/">University of Trento</a></span>.
        I live in <span itemprop="address" itemscope
              itemtype="http://data-vocabulary.org/Address">
              <span itemprop="locality">Trento</span>,
              <span itemprop="country-name">Italy</span>.
           </span></p>
        <p class="lead">I'm a developer and data scientist (atleast on the way to become one). Follow me on <a href="http://twitter.com/usmanakram232">Twitter</a>.
        <br>Feel free to ask me a question: <i>muhammadusman.akram[at]studenti.unitn.it</i></p>
    </div>
</div>