<div id="post_about">
    <h2><a href="/usman">By Muhammad Usman Akram</a></h2>
    <div itemscope itemtype="http://data-vocabulary.org/Person" class="left">
        My name is <span itemprop="name">Muhammad Usman Akram</span>.
        I am <span itemprop="role">graduate</span> <span itemprop="title">Student</span> at <span itemprop="affiliation"><a href="http://unitn.it/">University of Trento</a></span>.
        I live in <span itemprop="address" itemscope
              itemtype="http://data-vocabulary.org/Address">
              <span itemprop="locality">Trento</span>,
              <span itemprop="country-name">Italy</span>.
           </span>
        <p>I'm a developer and data scientist (atleast on the way to become one). Follow me on <a href="http://twitter.com/usmanakram232">Twitter</a>.</p>
        <p>Feel free to ask me a question: <i>muhammadusman[dot]akram[at]studenti.unitn.it</i></p>
    </div>
    <div class="right">
      <img src="http://www.gravatar.com/avatar/e8618020c343b3f27948e8ddf0d993f1.png" height="128" width="128" class="avatar">
    </div>
</div>