---
layout: index
external:
---

<div class="content">
    <div class="container">
  <div id="featurette">
    <h1 class="featurette-heading">
	  <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>
    <section class="byline">{{ page.date | date: "%b %d, %Y" }}</section>
    <div class="featurette">
      {{ content }}
    </div>
    <br />
    <ul class="log_taglist">
    {% for tag in page.tags %}
      <li><a class="tag" href="/tag/{{ tag }}">{{ tag }}</a></li>
    {% endfor %}
    </ul>
	</div>
      <hr class="featurette-divider">
    {% include about.html %}
      <hr class="featurette-divider">
  </div>
</div>
